* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.services {
  background-color: #00e9ff;
  color: #ffae00;
  font-size: 100px;
}

.products {
  background-color: #ff4242;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-color: #ffae00;
  color: #fff;
  font-size: 100px;
}
